@import './../fonts/Gilroy/stylesheet.css';
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --text-color: #1E1E1E;
  --text-muted: #8D8D8D;
  --text-card-dark-blue: #0D1B39;
  --accent: #E58411;
  --header-text-color: #ffffff;
  --ui-orange: #E58411;
  --ui-ocean: #00D6C9;
  --ui-gray: #7C7C7C;
  --ui-dark-blue: #0D1B39;
  --footer-bg: #2D2F33;
  --footer-text-color: #FFFFFF;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font--footer-accent: "DM Sans", sans-serif;
}

body {
  color: var(--textColor);
}

html, body {
  font-family: var(--font-main);
  color: var(--text-color);
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.read-more {
  display: inline-flex;
  gap: 13px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: var(--accent);
}
.read-more::after {
  content: url(./../img/icons/arrow.svg);
}
.read-more--large {
  font-size: 18px;
}

.header {
  padding-top: 40px;
  background-color: var(--footer-bg);
  background-image: url(./../img/header/header-bg.jpg);
  aspect-ratio: 1440/1084;
  background-size: cover;
  color: var(--header-text-color);
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: url(./../img/header/header-bg@2x.jpg);
  }
}
.header a {
  color: var(--header-text-color);
}

.header__nav {
  margin-bottom: 86px;
}

.header__content {
  text-align: center;
}

.header__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}

.header__content p {
  margin: 0 auto;
  max-width: 606px;
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 45px;
  opacity: 0.8;
}

.header__search {
  margin: 0 auto;
}

.header__dot-sofa {
  position: absolute;
  left: 20.9929078014%;
  top: 63.7209302326%;
}

.header__dot-flowers {
  position: absolute;
  left: 8.085106383%;
  top: 69.3023255814%;
  transform: translate(-50%, -50%);
}

.header__dot-tree {
  position: absolute;
  left: 96.4539007092%;
  top: 76.4651162791%;
  transform: translate(-50%, -50%);
}

.header__dot-table {
  position: absolute;
  left: 56.170212766%;
  top: 72.5581395349%;
  transform: translate(-50%, -50%);
}

.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
}

.logo {
  align-self: center;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

.nav-list {
  align-self: center;
  justify-self: center;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 65px;
}

.cart {
  align-self: center;
  justify-self: end;
  position: relative;
}

.cart__count {
  background-color: var(--accent);
  border-radius: 40px;
  display: inline-block;
  height: 25px;
  padding: 0 6px;
  line-height: 25px;
  font-weight: 700;
  position: absolute;
  right: -6px;
  font-family: var(--font-cards);
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.86px solid rgba(255, 255, 255, 0.6);
  border-radius: 42px;
  padding: 8px 8px 8px 20px;
  max-width: 344px;
  height: 56px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 42px;
}

.search-form__input {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  color: #fff;
}
.search-form__input::-moz-placeholder {
  color: #fff;
}
.search-form__input::placeholder {
  color: #fff;
}

.search-form__btn {
  background-color: var(--accent);
  border-radius: 24px;
  padding: 11px;
  width: 40px;
  height: 40px;
}

.info-dot {
  position: relative;
  cursor: pointer;
}

.info-dot__circle {
  position: absolute;
  z-index: 1;
  left: 35.5%;
  top: 37%;
  transform: translate(-50% -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.info-dot__radius {
  width: 32px;
  height: 32px;
  border: 0.86px solid #fff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  animation: pulse 1s infinite alternate;
}

.info-dot:hover .info-dot__radius {
  animation: pulse 1s infinite alternate paused;
}

.info-dot:hover .info-dot__circle {
  background-color: var(--accent);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.info-hint {
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  gap: 8px;
  padding-top: 12px;
  justify-content: center;
  background-image: url(./../img/tooltip.svg);
  width: 112px;
  height: 56px;
}

.info-hint__radio {
  display: none;
}

.info-hint__radio:checked + .info-hint__radio-fake {
  background-image: url("./../img/icons/checkbox.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.info-hint__radio-fake {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-color: gray;
  border: 2px solid #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.info-hint__radio-fake--orange {
  background-color: var(--ui-orange);
}
.info-hint__radio-fake--ocean {
  background-color: var(--ui-ocean);
}
.info-hint__radio-fake--gray {
  background-color: var(--ui-gray);
}

.benefits {
  padding: 120px 0;
}

.benefits__title {
  font-weight: 700;
  font-size: 42px;
  max-width: 260px;
  align-self: center;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.benefits__item-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}

.benefits__item-descr {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 185%;
  opacity: 0.8;
}

.products {
  background-color: #F7f7f7;
  padding: 50px 0;
}

.products__title {
  margin-bottom: 32px;
  text-align: center;
  font-weight: 700;
  font-size: 42px;
}

.products__tabs {
  margin-bottom: 80px;
  text-align: center;
}

.products__slider {
  margin-bottom: 60px;
}

.products__link {
  text-align: center;
}

.tab-controls {
  display: inline-flex;
  padding: 6px;
  align-items: center;
  background-color: #eee;
  border-radius: 44px;
}

.tab-controls__btn {
  border-radius: 32px;
  padding: 7px;
  width: 84px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 185%;
  opacity: 0.8;
  color: rgba(31, 31, 31, 0.8);
  transition: background-color 0.2s ease-in;
}
.tab-controls__btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tab-controls__btn--active {
  background-color: var(--footer-text-color);
}

.card {
  position: relative;
  width: 268px;
  font-family: var(--font-cards);
}

.card__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card__image {
  margin-top: 50px;
  height: 240px;
  background-color: #FAFAFA;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.card__desc {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 202px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  padding: 14px 22px 28px;
}

.card__photo {
  margin-top: -50px;
}

.card__category {
  color: var(--text-muted);
  font-weight: 400;
  font-size: 16px;
  position: relative;
  z-index: 3;
}

.card__title {
  font-weight: 600;
  font-size: 21px;
  text-transform: capitalize;
  color: var(--ui-dark-blue);
}

.card__rating {
  display: flex;
  gap: 3px;
}

.card__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  font-weight: 600;
  font-size: 21px;
  color: var(--ui-dark-blue);
  align-items: flex-start;
  display: flex;
  gap: 3px;
}
.card__price::before {
  content: attr(data-value);
  font-size: 15px;
}

.card__button {
  background-color: var(--ui-dark-blue);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
}
.card__button:hover {
  opacity: 0.8;
}

.slider {
  position: relative;
}

.slider__btn {
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  border-radius: 50%;
  padding: 11px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__btn--prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.slider__btn--next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translate(50%, -50%);
}/*# sourceMappingURL=main.css.map */