.cart {
    align-self: center;
    justify-self: end;
    position: relative
}
.cart-img {
}
.cart__count {
    background-color: var(--accent);
    border-radius: 40px;
    display: inline-block;
    height: 25px;
    padding: 0 6px;

    line-height: 25px;
    font-weight: 700;
    position: absolute;
    right: -6px;
    font-family: var(--font-cards);
}