.footer {
    padding: 118px 0 56px;
    font-weight: 500;
    background-color: var(--footer-bg);
    color: var(--footer-text-color);

    a {
        color: var(--footer-text-color);

        &:hover {
            opacity: 0.6;
            transition: 0.2s ease-in;
        }
    }
}

.footer__grid {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
    gap: 20px;

    margin-bottom: 118px;
}
.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__services {
    grid-column-start: 3;
}

.footer__links {
    display: flex;
    gap: 40px;

    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
.footer__copyright {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.5);
}

.footer__text {
    font-size: 15px;
    line-height: 160%;
    font-weight: 500;
}

.footer__logo {
    margin-bottom: 29px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer__list-heading {
    font-size: 17px;
    letter-spacing: -0.01em;
    color: var(--accent);
    font-weight: 400;
}
.footer__list-item {
    font-size: 15px;
    line-height: 160%;
}