.nav-list {
    align-self: center;
    justify-self: center;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 65px;
}
.nav-list__item {
}
.nav-list__link {
}                                                                                                                                                                                           