.nav {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    gap: 20px;
    
}
.logo {
    align-self: center;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}
