.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 0.86px solid rgba(255, 255, 255, 0.6);
    border-radius: 42px;
    padding: 8px 8px 8px 20px;
    max-width: 344px;
    height: 56px;

    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.15);
    border-radius: 42px;
}
.search-form__input {
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    color: #fff;

    &::placeholder {
        color: #fff;
    }

}
.search-form__btn {
    background-color: var(--accent);
    border-radius: 24px;
    padding: 11px;
    width: 40px;
    height: 40px;
}