.slider {
    position: relative;
}
.slider__btn {
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    border-radius: 50%;
    padding: 11px;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

}
.slider__btn--prev { 
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    
    transform: translate(-50%, -50%);
}
.slider__btn--next {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translate(50%, -50%);
}