.sub-nav {
    display: grid;
    gap: 12px;
    padding: 20px;
    background-color: var(--footer-bg);
    border-radius: 16px;
    font-size: 14px;

    a:hover {
        transition: 0.2s ease-in;
        color: var(--accent)
    }
}
.sub-nav__item {
}
.sub-nav__link {
}