@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');


html, body {
    font-family: var(--font-main);
    color: var(--text-color);
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}
.hidden {
    display: none !important;
}
.read-more {
    display: inline-flex;
    gap: 13px;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    
    color: var(--accent);


    &::after {
        content: url(./../img/icons/arrow.svg);
    }

    &--large {
        font-size: 18px;
    }
}